/* ./src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* google fonts  */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: "Lato", sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.text-3xl.text-gray-200.font-bold.no-underline {
    text-decoration: none;
}


/* start components */


/* end of components */