#bannerSec {
    overflow: hidden;
    height: 70vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(17, 24, 39, 0.5)), url("../../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

// responsive
@media (max-width: 1199px) {
    #bannerSec {
        height: 55vh;
    }
}